*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white-400: hsl(243, 100%, 93%);
    --color-gray-400: hsl(229, 7%, 55%);
    --color-blue-400: hsl(228, 56%, 26%);
    --color-blue-600: hsl(226, 65%, 17%);
    --color-black-400: hsl(229, 57%, 11%);

    --color-gradient-from: hsl(6, 100%, 80%);
    --color-gradient-to: hsl(335, 100%, 65%);

    --fw-normal: 400;
    --fw-bold: 700;
}

.fw-bold{
    font-weight: var(--fw-bold);
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--color-white-400);

}

main{
    padding: 1.5rem;
    margin: 0 auto;
    padding-top: 5.5rem;
    width: 375px;
    height: 100vh;
    background-image: url(./images/bg-mobile.png);
}

.hero{
    height: 200px;
    width: 320px;
    background-color: var(--color-blue-400);
    border-top-left-radius: .5rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding-left: 2rem;
    padding-top: 2.5rem;
}

.hero::before{
    content: "";
    display: block;
    height: 40px;
    width: 135px;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.icons{
    display: flex;
}

.icon{
    background-color: var(--color-black-400);
    width: 50px;
    height: 50px;
    border-radius: .5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    height: 160px;
    width: 320px;
    text-align: center;
    background-color: var(--color-blue-400);
    border-radius: .5rem;
    margin-top: 1rem;
    padding: 2rem;
    position: relative;
}

.pop-up{
    width: 180px;
    height: 70px;
    font-weight: var(--fw-bold);
    background-color: white;
    color: var(--color-gray-400);
    border-radius: .5rem;
    text-transform: uppercase;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: -2rem;
    left: 4rem;
}

.pop-up .storage{
    color: var(--color-black-400);
    font-size: 2rem;
}

.line{
    width: 100%;
    height: 20px;
    background: var(--color-blue-600);
    border-radius: 2rem;
    margin-top: 1rem;
    position: relative;
}

.gradient{
    width: 70%;
    height: 14px;
    border-radius: 2rem;
    background: linear-gradient(to right, var(--color-gradient-from), var(--color-gradient-to));
    position: absolute;
    top: .2rem;
    left: .1rem;
    position: relative;
}

.circle{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: .05rem;
    right: .2rem;
}

.range{
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw-bold);
}
